PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=noria_films

JWT_SECRET=cambia_esto_en_produccion_usa_openssl_rand_hex_32
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
